<div id="container">

	<%= render :partial => "nav" %>

	<%= render :partial => "information" %>
	<%= render :partial => "projects" %>
	<%= render :partial => "teaching" %>
	<%= render :partial => "store" %>
</div>

<script type="text/javascript">

$(function() {
  $('.nav-link').on('click', function(e) {
	 	$('.current').removeClass("current")
		$(this).addClass("current")
		$('.active').removeClass('active')
		$('#' + $(this).attr('name')).addClass('active')
  });
});
</script>